# QB Career Stats Analysis

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import math

In [3]:
df = pd.read_csv('data/raw/Career_Stats_Passing.csv')
df.head()

,Player Id,Name,Position,Year,Team,Games Played,Passes Attempted,Passes Completed,Completion Percentage,Pass Attempts Per Game,...,TD Passes,Percentage of TDs per Attempts,Ints,Int Rate,Longest Pass,Passes Longer than 20 Yards,Passes Longer than 40 Yards,Sacks,Sacked Yards Lost,Passer Rating
0,tomfarris/2513861,"Farris, Tom",NaN,1948,Chicago Rockets,0,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
1,tomfarris/2513861,"Farris, Tom",NaN,1947,Chicago Bears,9,2,0,0.0,0.2,...,0,0.0,0,0.0,--,0,0,0,0,39.6
2,tomfarris/2513861,"Farris, Tom",NaN,1946,Chicago Bears,11,21,8,38.1,1.9,...,1,4.8,2,9.5,--,0,0,0,0,31.5
3,billdemory/2512778,"Demory, Bill",NaN,1974,New York Jets,1,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
4,billdemory/2512778,"Demory, Bill",NaN,1973,New York Jets,6,39,12,30.8,6.5,...,2,5.1,8,20.5,--,0,0,8,73,22.2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8525 entries, 0 to 8524
Data columns (total 23 columns):
Player Id                         8525 non-null object
Name                              8525 non-null object
Position                          1111 non-null object
Year                              8525 non-null int64
Team                              8525 non-null object
Games Played                      8525 non-null int64
Passes Attempted                  8525 non-null object
Passes Completed                  8525 non-null object
Completion Percentage             8525 non-null object
Pass Attempts Per Game            8525 non-null float64
Passing Yards                     8525 non-null object
Passing Yards Per Attempt         8525 non-null object
Passing Yards Per Game            8525 non-null object
TD Passes                         8525 non-null object
Percentage of TDs per Attempts    8525 non-null object
Ints                              8525 non-null object
Int Rate                          8525 non-null object
Longest Pass                      8525 non-null object
Passes Longer than 20 Yards       8525 non-null object
Passes Longer than 40 Yards       8525 non-null object
Sacks                             8525 non-null object
Sacked Yards Lost                 8525 non-null object
Passer Rating                     8525 non-null float64
dtypes: float64(2), int64(2), object(19)
memory usage: 1.5+ MB

In [5]:
# replace '--'
df.replace({'--': 0},inplace=True)
df.head()

,Player Id,Name,Position,Year,Team,Games Played,Passes Attempted,Passes Completed,Completion Percentage,Pass Attempts Per Game,...,TD Passes,Percentage of TDs per Attempts,Ints,Int Rate,Longest Pass,Passes Longer than 20 Yards,Passes Longer than 40 Yards,Sacks,Sacked Yards Lost,Passer Rating
0,tomfarris/2513861,"Farris, Tom",NaN,1948,Chicago Rockets,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
1,tomfarris/2513861,"Farris, Tom",NaN,1947,Chicago Bears,9,2,0,0.0,0.2,...,0,0.0,0,0.0,0,0,0,0,0,39.6
2,tomfarris/2513861,"Farris, Tom",NaN,1946,Chicago Bears,11,21,8,38.1,1.9,...,1,4.8,2,9.5,0,0,0,0,0,31.5
3,billdemory/2512778,"Demory, Bill",NaN,1974,New York Jets,1,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
4,billdemory/2512778,"Demory, Bill",NaN,1973,New York Jets,6,39,12,30.8,6.5,...,2,5.1,8,20.5,0,0,0,8,73,22.2

In [6]:
# rename cols
def norm_cols(cols):
    '''
    converts column naming to traditional database-stle naming convention
    '''
    
    cols = cols.str.replace(' ','_').str.replace('(','').str.replace(')','').str.lower()
    return cols

In [7]:
# apply column renaming to dataframe
df.columns = norm_cols(df.columns)
df.columns

Index(['player_id', 'name', 'position', 'year', 'team', 'games_played',
       'passes_attempted', 'passes_completed', 'completion_percentage',
       'pass_attempts_per_game', 'passing_yards', 'passing_yards_per_attempt',
       'passing_yards_per_game', 'td_passes', 'percentage_of_tds_per_attempts',
       'ints', 'int_rate', 'longest_pass', 'passes_longer_than_20_yards',
       'passes_longer_than_40_yards', 'sacks', 'sacked_yards_lost',
       'passer_rating'],
      dtype='object')

In [12]:
df['passing_yards'] = df['passing_yards'].str.replace(',','')

In [13]:
df['passing_yards'] = pd.to_numeric(df['passing_yards'])

In [16]:
# most passing yards
df.groupby(['player_id','name'])[['games_played','passing_yards']].sum().sort_values('passing_yards',ascending=False)[0:11]

                                               games_played  passing_yards
player_id                 name
peytonmanning/2501863     Manning, Peyton               266        71940.0
brettfavre/2500606        Favre, Brett                  302        71838.0
drewbrees/2504775         Brees, Drew                   233        66111.0
tombrady/2504211          Brady, Tom                    237        61582.0
danmarino/2501869         Marino, Dan                   242        61361.0
johnelway/2500547         Elway, John                   234        51475.0
elimanning/2505996        Manning, Eli                  201        48214.0
frantarkenton/2527019     Tarkenton, Fran               246        47003.0
benroethlisberger/2506109 Roethlisberger, Ben           185        46814.0
vinnytestaverde/2503284   Testaverde, Vinny             233        46233.0
philiprivers/2506121      Rivers, Philip                180        45833.0

In [17]:
top_qbs = df.groupby(['player_id','name'])[['games_played','passing_yards']].sum().sort_values('passing_yards',ascending=False)[0:11]
top_qbs

                                               games_played  passing_yards
player_id                 name
peytonmanning/2501863     Manning, Peyton               266        71940.0
brettfavre/2500606        Favre, Brett                  302        71838.0
drewbrees/2504775         Brees, Drew                   233        66111.0
tombrady/2504211          Brady, Tom                    237        61582.0
danmarino/2501869         Marino, Dan                   242        61361.0
johnelway/2500547         Elway, John                   234        51475.0
elimanning/2505996        Manning, Eli                  201        48214.0
frantarkenton/2527019     Tarkenton, Fran               246        47003.0
benroethlisberger/2506109 Roethlisberger, Ben           185        46814.0
vinnytestaverde/2503284   Testaverde, Vinny             233        46233.0
philiprivers/2506121      Rivers, Philip                180        45833.0

In [21]:
top_qbs['yards_per_game'] = round(top_qbs['passing_yards'] / top_qbs['games_played'], 2)
top_qbs

,,games_played,passing_yards,yards_per_game
player_id,name,,,
peytonmanning/2501863,"Manning, Peyton",266,71940.0,270.45
brettfavre/2500606,"Favre, Brett",302,71838.0,237.87
drewbrees/2504775,"Brees, Drew",233,66111.0,283.74
tombrady/2504211,"Brady, Tom",237,61582.0,259.84
danmarino/2501869,"Marino, Dan",242,61361.0,253.56
johnelway/2500547,"Elway, John",234,51475.0,219.98
elimanning/2505996,"Manning, Eli",201,48214.0,239.87
frantarkenton/2527019,"Tarkenton, Fran",246,47003.0,191.07
benroethlisberger/2506109,"Roethlisberger, Ben",185,46814.0,253.05
vinnytestaverde/2503284,"Testaverde, Vinny",233,46233.0,198.42
philiprivers/2506121,"Rivers, Philip",180,45833.0,254.63

In [23]:
top_qbs['trailing_leader_by'] = top_qbs['passing_yards'][0] - top_qbs['passing_yards']
top_qbs

,,games_played,passing_yards,yards_per_game,trailing_leader_by
player_id,name,,,,
peytonmanning/2501863,"Manning, Peyton",266,71940.0,270.45,0.0
brettfavre/2500606,"Favre, Brett",302,71838.0,237.87,102.0
drewbrees/2504775,"Brees, Drew",233,66111.0,283.74,5829.0
tombrady/2504211,"Brady, Tom",237,61582.0,259.84,10358.0
danmarino/2501869,"Marino, Dan",242,61361.0,253.56,10579.0
johnelway/2500547,"Elway, John",234,51475.0,219.98,20465.0
elimanning/2505996,"Manning, Eli",201,48214.0,239.87,23726.0
frantarkenton/2527019,"Tarkenton, Fran",246,47003.0,191.07,24937.0
benroethlisberger/2506109,"Roethlisberger, Ben",185,46814.0,253.05,25126.0
vinnytestaverde/2503284,"Testaverde, Vinny",233,46233.0,198.42,25707.0
philiprivers/2506121,"Rivers, Philip",180,45833.0,254.63,26107.0